<div>
  <div ng-switch on="isDropdownable">
    <ul class="nav navbar-nav navbar-right">

      <li>
        <span ng-show="signinService.isAuthenticated()">
          Hello {{signinService.currentUser.username}}
        </span>
      </li>
      <!-- Large screen case: dropdown signin form -->
      <li ng-switch-when="true" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" ng-click="signinService.toggleLoginView()">
          Login <b class="caret"></b>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <signin-form></signin-form>
        </div>
      </li>
      <!--/Large screen case: dropdown signin form -->
      
      <!-- Default case: fullscreen signin form -->
      <li ng-switch-default ng-controller='modalController'>
        <a ng-click="signinService.toggleLoginView(); open();">Sign In</a>
        <div ng-show="selected">Selection from a modal: {{ selected }}</div>
      </li>
      <!--/Default case: fullscreen signin form -->

    </ul>
    
  </div>
</div>
