<div>
  <div >

    <h3>Sign in</h3>
    <form ng-controller="signinController" name="signinForm"
          ng-submit="signin()" role="form"
          class="genymotion-login-form-inline">
      <div class="form-group">
        <input type="text" class="form-control" name="username"
               ng-model="login" required
               placeholder="Username or email address" />
      </div>
      <div class="form-group">
        <input type="password" class="form-control" name="password"
               ng-model="password" required
               placeholder="Password" />
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="remember-me"
                 ng-model="rememberMe" />
          Remember me
        </label>
      </div>
      
      <span class="error" ng-show="!signinForm.$valid">
        <p class="glyphicon glyphicon-remove">
          <span ng-if="signinForm.$error.required">
            Error: required fields
          </span>
          <span ng-if="!signinForm.$error.required && !signinForm.$username.$valid">
            Error: Username is invalid
          </span>
        </p>
      </span>

      <div class="text-center">
        <div ng-show="signinForm.$valid">
          <p><button type="submit" class="btn btn-default">Sign in</button></p>
          <p><a ng-href="#create"><button class="btn">Create account</button></a></p>
        </div>
        <p><a ng-href="#forgot-password">Forgot password ?</a></p>
      </div>
    </form>

    <p>
      <small>Hint - bob@nowhere.com : secret</small>
    </p>

  </div>
</div>