<nav class="sidebar-nav">
  <div class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="visible-xs navbar-brand">
        Krearts
      </span>
    </div>
    <div class="navbar-collapse collapse sidebar-navbar-collapse">
      <span class="hidden-xs">
        <img class="krearts-falling-top" src="images/krearts-fallin-top.png" />
      </span>
      <ul class="nav navbar-nav">
        <li ng-class="{active: $route.current.activetab == 'home'}">
          <a ng-href="#"><span class="glyphicon glyphicon-home"></span></a>
        </li>
        <li ng-class="{active: $route.current.activetab == 'services'}">
          <a ng-href="#services">Nos services</a>
        </li>
        <li ng-class="{active: $route.current.activetab == 'about'}">
          <a ng-href="#about">A propos</a>
        </li>
        <li ng-class="{active: $route.current.activetab == 'artists'}">
          <a ng-href="#artists">Artistes</a>
        </li>
        <li ng-class="{active: $route.current.activetab == 'contact'}">
          <a ng-href="#contact">Nous contacter</a>
        </li>
        <li ng-class="{active: $route.current.activetab == 'links'}">
          <a ng-href="#links">Liens</a>
        </li>
      </ul>
      <span class="hidden-xs">
        <img src="images/krearts-fallin-bottom.png" />
      </span>
    </div><!--/.nav-collapse -->
  </div>
</nav>
