<nav>
  <div class="hidden-xs krearts-logos">
    <img class="krearts-logo" src="images/theme/krearts-logo.png" alt='krearts logo'/>
    <img class="krearts-title" src="images/theme/krearts-title.png" alt='krearts'/>
  </div>

  <div class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="visible-xs navbar-brand">
        Krearts
      </span>
    </div>
    <div class="navbar-collapse collapse krearts-menu">
      <ul class="nav navbar-nav">
        <li ng-class="{active: $route.current.activetab == 'home'}">
          <a class="krearts-link" ng-href="#">
            <img src="images/theme/krearts-menu-home.png" alt="home"/>
          </a>
        </li>
        <li ng-class="{active: $route.current.activetab == 'artists'}" class="bold">
          <a class="krearts-link" ng-href="#artists">
            <img src="images/theme/krearts-menu-artists.png" alt="artists"/>
          </a>
        </li>
        <li ng-class="{active: $route.current.activetab == 'services'}">
          <a class="krearts-link" ng-href="#services">
            <img src="images/theme/krearts-menu-services.png" alt="services"/>
          </a>
        </li>
        <li ng-class="{active: $route.current.activetab == 'about'}">
          <a class="krearts-link" ng-href="#about">
            <img src="images/theme/krearts-menu-about.png" alt="about"/>
          </a>
        </li>
        <li ng-class="{active: $route.current.activetab == 'contact'}">
          <a class="krearts-link" ng-href="#contact">
            <img src="images/theme/krearts-menu-contact.png" alt="contact"/>
          </a>
        </li>
        <li ng-class="{active: $route.current.activetab == 'links'}">
          <a class="krearts-link" ng-href="#links">
            <img src="images/theme/krearts-menu-links.png" alt="links"/>
          </a>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
