/**
 * Whole page configuration
 */
body {
  background-color: black;
}

footer {
  background-color: #f8f8f8;
  padding: 50px 0;
}


/**
 * Vertical nav (sidebar)
 */
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
    width: 146px;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
    background: url(../images/krearts-fallin-line.png);

  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: transparent;
  }

  .sidebar-nav .navbar li.active a {
    background-color: rgba(96, 96, 96,  0.3);
  }
  .sidebar-nav .navbar li.active a:hover {
    background-color: rgba(128, 128, 128,  0.3);
  }

  .navbar-default {
    background-color: black;
    border-color: black;
  }

  .krearts-menu {
    float: left;
  }

}


/**
 * Home page configuration
 */

.intro-header {
  padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
  padding-bottom: 50px;
  color: #f8f8f8;
  background: url(../images/wallpaper.jpg) no-repeat center center;
  background-size: cover;
  text-align: center;
}

.intro-message {
  position: relative;
  padding-top: 20%;
  padding-bottom: 20%;
}

.intro-message > h1 {
  margin: 0;
  font-size: 5em;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.intro-divider {
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.intro-message > h3 {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.content-section-a {
  background-color: #f8f8f8;
  padding: 50px 0;
}

.content-section-b {
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  padding: 50px 0;
}
