<div class="container">
  <p>&nbsp;</p>
  <h2>Membres de l'association</h2>
  <hr/>
  <h4>Lionel Pinter <small>Président</small></h4>
  <h4>Jean François Cécilio <small>Trésorier</small></h4>
  <h4>Benjamin Cécilio <small>Secrétaire</small></h4>
  <h4>Morgan Germain <small>Webmaster</small></h4>

  <hr/>
  Le collectif Krearts a pour objet :
  <ul>
    <li>
      L’organisation d’un Collectif d’artistes dans les domaines de la création
      et de la production musicale, des arts plastiques, de la vidéo, du cinéma
      et de la scénographie.
    </li>
    <li>
      L’accompagnement de projets de la phase conception à la phase réalisation
      et plus particulièrement : l’appui logistique, l’assistance juridique,
      l'assistance technique et administrative, la recherche de financement et
      de partenariat, la mise en synergie et la complémentarité des compétences
      et la mutualisation des moyens.
    </li>
  </ul>
</div>
