<div class="container-fluid">

  <p>&nbsp;</p>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div>
        <div class="text-center">
          <h2>Arnaud Grimmer</h2>
          <img src="images/audio/groupes/arnaud-grimmer/logo-arnaud-grimmer.jpg" height="600" />
        </div>
      </div>
    </div>
    <div class="col-md-4 col-md-offset-4">

      <p>&nbsp;</p>
      <p>&nbsp;</p>


      <p>Né en 1787 (oui il est âgée de 227 ans) Arnaud Grimmer vient tout d’abord du milieu "métal", grand adepte des Slayer et consorts , la brutalité et le chaos était ses mots d’ordres !</p>

      <p>En parallèle, il baigne dans la musicalité de J.S Bach , dont il s’imprégna les mélodies et autres dissonances , autant dire que ses inspirations ne peuvent en faire qu’un musicien original !</p>

      <p>Dérivant par la suite sur l’acoustique petit à petit, il tombe dans l’univers de la guitare classique, inspirée par John Williams notamment, Malmsteem, Edgar Cruz et bien d’autres...</p>

      <p>Passant aussi par l’univers folk, il reprend avec plaisir des pièces musicales de John Butler et autres Trace Bundy, et commence a se lancer dans les arrangements, les réadaptations de thème plus ou moins connus.</p>

      <p>Pas seulement attiré par la guitare mais la musique en général, le piano fut une étape de son apprentissage musical, ainsi que le violoncelle et autre flute traversière, qui n’ont fait que renforcer ses capacités théoriques et musicales.</p>

      <p>Sans délaisser ses origines lui ayant appris beaucoup, il règne maintenant dans les rues et les églises pour y interprèter ses compositions et autres arrangements "classique – flamenco – thèmes cinématographiques" sur une guitare aux mensurations peu commune, inspiré d’un des ses plus grands maitres originaire d’Australie, et compte bien faire résonner sa musique dans toutes les plus grandes bâtisses et rues de France et pourquoi pas par la suite d’Europe .. !</p>

    </div>

  </div>
  <div class="row">

    <div class="col-md-4 col-md-offset-2">
      <iframe width="400" height="300" src="//www.youtube.com/embed/8defq_wnMy4" frameborder="0" allowfullscreen>
      </iframe>
    </div>

    <div class="col-md-4">
      <iframe width="400" height="300" src="//www.youtube.com/embed/q8qePgUVk84" frameborder="0" allowfullscreen>
      </iframe>
    </div>

  </div>
  <div class="row">

    <div class="col-md-4 col-md-offset-2">
      <iframe width="400" height="300" src="//www.youtube.com/embed/QT9em0qQrU4" frameborder="0" allowfullscreen>
      </iframe>
    </div>

    <div class="col-md-6">
      <iframe width="400" height="300" src="//www.youtube.com/embed/6wuiF4j4ZE0" frameborder="0" allowfullscreen>
      </iframe>
    </div>

  </div>
</div>
</div>
