<div class="container-fluid">

  <p>&nbsp;</p>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="text-center">
        <h2>Komak</h2>
        <img src="images/audio/groupes/Komak/logo-komak.jpg"/>
      </div>
      <p>&nbsp;</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="text-center">
        <img class="img-responsive" src="images/audio/groupes/Komak/komak-04.jpg" />
      </div>
    </div>
    <div class="col-md-4">
      <div ng-controller="KomakCtrl">
        <jplayer tracks="tracks"></jplayer>
      </div>

      <p>&nbsp;</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="text-center">
        <img class="img-responsive" src="images/audio/groupes/Komak/komak-06.jpg" />
      </div>
    </div>

      <p>
        Depuis déjà dix ans, komak échappe à toutes tentatives de définition, sans cesse renouvelé, entre Braindance,
        Trip-Hop, Industriel, Accousmatique, Ambiant..
      </p>

      <p>&nbsp;</p>

      <p>
        Komak c'est trois sets live, trois albums, des heures de bandes test, des expérimentations sonores et visuelles,
        une musique avant tout hypnotique, graphique, un bricolage synaptique.
      </p>

      <p>&nbsp;</p>

      <p>
        Merci à tout ceux sans qui tout cela serait impossible, les musicien-ne-s que j'ai enregistrés, les voix volées et
        les textes inspirés, les leçons didactiques, les vidéos, images, idées. Merci aux copains qui se bougent encore
        pour faire vivre des lieux, concerts, rencontres, passions.. Je vous laisse anonymes mais le coeur y est. Merci
        d'exister.
      </p>
    </div>
  </div>

</div>
