<div id="app-navbar" ng-include="'views/subviews/header.html'"></div>

<div class="container">
  <p>&nbsp;</p>
  <div class="jumbotron">
    <h1>Artists page</h1>
    <p class="lead">Wonderful project, isn't it ?</p>
  </div>


  <div class="row">
    <!-- Empty left column -->
    <div class="col-md-2 col-xs-1"></div>
    <!--/Empty left column -->

    <!-- Left column -->
    <div class="col-md-4 col-xs-offset-0">
      <div class="panel panel-default">
        <div class="panel-heading">Groupes de musique</div>
        <div class="panel-body">
          Panel content
        </div>
      </div>
    </div>
    <!--/Left column -->

    <!-- Right column -->
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Interprètes</h3>
        </div>
        <div class="panel-body">
          Panel content
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Dessinateurs</h3>
        </div>
        <div class="panel-body">
          Panel content
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Arts plastiques</h3>
        </div>
        <div class="panel-body">
          Panel content
        </div>
      </div>

    </div>
    <!--/Right column -->

    <!-- Empty right column -->
    <div class="col-md-2 col-xs-1">
    </div>
    <!--/Empty right column -->
  </div>


</div>

<div id="app-footer" ng-include="'views/subviews/footer.html'"></div>
