<div class="container">

  <p>&nbsp;</p>
  <div class="row">
    <div class="col-md-8 col-md-offset-1">
      <div class="text-center">
        <p>
          <img src="audio/groupes/jet-set-willy/text-jet-set-willy.png" />
        </p>
        <p>&nbsp;</p>
        <p>
          <img src="audio/groupes/jet-set-willy/logo-jet-set-willy.png" height="200"/>
        </p>
      </div>

     <p>&nbsp;</p>

      <div class="text-center">
        <object width="470" height="87" data="http://krearts.fr/audio/player-audio/mediaplayer.swf" type="application/x-shockwave-flash">
          <param name="quality" value="high" />
          <param name="bgcolor" value="#000000" />
          <param name="allowFullScreen" value="false" />
          <param name="swLiveConnect" value="false" />
          <param name="allowScriptAccess" value="sameDomain" />
          <param name="FlashVars"
             value="file=http://krearts.fr/audio/groupes/jet-set-willy/playlist.xml&amp;width=470&amp;height=260&amp;displaywidth=470&amp;displayheight=0&amp;overstretch=false&amp;autostart=false&amp;showicons=false&amp;showfsbutton=false&amp;fullscreenmode=false&amp;thumbsinplaylist=false&amp;linktarget=_blank&amp;linkfromdisplay=true&amp;shuffle=false&amp;showeq=false" />
          <param name="src" value="http://krearts.fr/audio/player-audio/mediaplayer.swf" />
        </object>
      </div>

      <p>&nbsp;</p>

      <p>Style : Cold wave</p> 

      <p>Description : Industrial music for industrial people</p>

      <p>Membres :
        <ul>
          <li>Benjamin CECILIO (compositeur, chant, multi instrumentaliste, électronique)</li>
          <li>Jean François CECILIO (guitare)</li>
          <li>Bruce ALIBERT (guitare)</li>
          <li>Stéphanie CECILIO (paroles)</li>
          <li>Mixage : Benjamin CECILIO, Lionel PINTER</li>
          <li>Mastering : Lionel PINTER</li>
        </ul>
      </p>
      <p>Membres Live :
        <ul>
          <li>Benjamin CECILIO (chant, multi instrumentaliste)</li>
          <li>Lionel PINTER (électronique)</li>
          <li>Bruce ALIBERT (guitare)</li>
        </ul>
      </p>
    </div>
  </div>

</div>
