<div class="container">

<p>&nbsp;</p>
  <div class="row">
    <div class="col-md-2 col-md-offset-1">
      <img src="http://krearts.fr/audio/groupes/Arcaide/logo-arcaide.jpg" />
    </div>
    <div class="col-md-8">
      <p>&nbsp;</p>
      <h2 class="text-center">Arcaïde</h2>
    </div>
  </div>

  <p>&nbsp;</p>

  <div class="row">
    <div class="col-md-2 col-md-offset-1">
      <img src="http://krearts.fr/audio/groupes/Arcaide/lc.jpg" width="160px"/>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-8">
      <p>
        En 2014, comme le phénix renaissant de ses cendres, Arcaïde est de
        retour avec une production audio et visuelle en préparation de plus de 4
        heures.
      </p>
      <p>
        Ici nous vous présentons une première démo avec clip de son futur album.
      </p>
      <p>&nbsp;</p>
      <p>
        En parallèle il participe à la création du collectif Krearts et de trois
        formation à tendence industrielles (RazorHead, Difoss et Jet Set Willy)
        comme compositeur, chanteur et multi instrumentaliste.
      </p>
    </div>
  </div>

  <p>&nbsp;</p>

  <div class="row">
    <div class="col-md-2 col-md-offset-1">
      <img src="http://krearts.fr/audio/groupes/Arcaide/album-2.png" width="160px"/>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-8">
      <p>&nbsp;</p>
      <p>
        En 2008, sortie de l’album Cyclic Sound From the Form sur le label
        culte industriel français Divine Comedy Records.
        <a href="http://divineco.records.free.fr/">http://divineco.records.free.fr/</a>
      </p>
    </div>
  </div>

  <p>&nbsp;</p>

  <div class="row">
    <div class="col-md-2 col-md-offset-1">
      <img src="http://krearts.fr/audio/groupes/Arcaide/album-3.png" width="160px"/>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-8">
      <p>&nbsp;</p>
      <p>
        En 2006 Opus Mort voit le jour : de plus en plus cinématographique, ce
        troisième album est l’aboutissement d’une longue expérimentation
        vers une musique tournée résolument vers des ambiances sonores
        étranges, surréalistes voire cauchemardesques qui sont le reflet
        de la personnalité trouble et torturée du compositeur.
      </p>
    </div>
  </div>

  <p>&nbsp;</p>

  <div class="row">
    <div class="col-md-2 col-md-offset-1">
      <img src="http://krearts.fr/audio/groupes/Arcaide/album-4.png" width="160px"/>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-8">
      <p>&nbsp;</p>
      <p>
        En 2003 il termine le deuxième album d’Arcaïde intitulé « Probably
        Problematic » comprenant 15 titres d’inspiration toujours
        électro-industriel mais cette fois plus expérimental conservant
        toutefois les couleurs abyssales et les harmonies pesantes qui
        font la particularité d’Arcaïde.
      </p>
    </div>
  </div>

  <p>&nbsp;</p>

  <div class="row">
    <div class="col-md-2 col-md-offset-1">
      <img src="http://krearts.fr/audio/groupes/Arcaide/album-1.png" width="160px"/>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-8">
      <p>
        Dans le même temps, il constitue le collectif Zero corp regroupant une
        dizaine de formations à tendance industrielle dont Synocaïde, projet
        crossover parallèle à Arcaïde.
      </p>
      <p>&nbsp;</p>
      <p>
        En 2001 sortie du premier album « Chaos of Sigma ». Sur le label
        colddrone distibuer par adipocere
      </p>
    </div>
  </div>



</div>
