<div class="container">
  <p>&nbsp;</p>

  <h2>Musique</h2>
  <hr/>

  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="#/artists/arcaide">
          <img src="http://krearts.fr/audio/groupes/Arcaide/logo-arcaide.jpg">
          <div class="caption">
            <h3 class="text-center">Arcaide</h3>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
        <a href="#/artists/toxicazsid">
          <img src="http://krearts.fr/audio/groupes/Toxicazsid/Faceavant300dpi.jpg"
          width="160">
          <div class="caption">
            <h3 class="text-center">Toxic az sid</h3>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
        <a href="#/artists/jet-set-willy">
          <img src="http://krearts.fr/audio/groupes/jet-set-willy/logo-jet-set-willy.png" width="160">
          <div class="caption">
            <h3 class="text-center">Jet Set Willy</h3>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
        <a href="#/artists/difoss">
          <img src="http://krearts.fr/audio/groupes/Difoss/logo-difoss.png" width="160">
          <div class="caption">
            <h3 class="text-center">Dïfoss</h3>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
        <a href="#/artists/razor-head">
          <img src="http://krearts.fr/audio/groupes/RazorHead/logo-razor-head.png" width="160">
          <div class="caption">
            <h3 class="text-center">Razor Head</h3>
          </div>
        </a>
      </div>
    </div>

  </div>

</div>
