<div class="container-fluid">

  <p>&nbsp;</p>
  <div class="row">
    <div class="col-md-8 col-md-offset-1">
      <div class="text-center">
        <h2>FFA</h2>
        <p>&nbsp;</p>
        <img class="img-responsive" src="images/audio/groupes/FFA/logo-ffa.jpg" />
      </div>

     <p>&nbsp;</p>

      <div ng-controller="FistFuckingAramageddonCtrl">
        <jplayer tracks="tracks"></jplayer>
      </div>

      <p>&nbsp;</p>

      <p>Style : Sado Black Noise for Suicidal Maso People</p>

      <p>Description : Hinmans song, cold skin, behind the door, hope, latnem noirtarcesed, dancing with past</p>

      <p>Membres :
        <ul>
          <li>Kris DH Requiem</li>
        </ul>
      </p>

 
    </div>
  </div>

</div>
