<div class="container">

  <div class="row">
    <div class="col-md-2">
      LOGO ARCAIDE
    </div>
    <div class="col-md-10">
      Arcaïde
    </div>
  </div>

  <h2>Arcaïde</h2>

  <hr/>
  <p>Groupe de machin truc qui fait du bruit. Du bling, du blong.</p>

  <h3>Historique</h3>
  <p>Historique bref du groupe</p>
  <h3>Actualité</h3>
  <p>Quelques dates à venir, des prochains morceaux à balancer, les CD disponibles depuis quand, ...</p>

  <hr/>

  <playlist artist="arcaide"></playlist>
</div>
