<div class="container-fluid">

  <p>&nbsp;</p>
  <div class="row">
    <div class="col-md-8 col-md-offset-1">
      <div class="text-center">
        <h2>Razor Head</h2>
        <img src="images/audio/groupes/RazorHead/logo-razor-head.png" height="200"/>
      </div>

     <p>&nbsp;</p>

      <div ng-controller="RazorHeadCtrl">
        <jplayer tracks="tracks"></jplayer>
      </div>

      <p>&nbsp;</p>

      <p>Style : Death Metal Industriel</p>

      <p>Description : Industrial music for industrial people</p>

      <p>Membres :
        <ul>
          <li>Lionel PINTER (chant, électronique, Mix et Mastering)</li>
          <li>Benjamin CECILIO (chant, multi instrumentiste, électronique)</li>
          <li>Julien BROSSIER (guitare)</li>
          <li>Arnaud GRIMMEr (guitare)</li>
          <li>Régis MATHON (basse)</li>
          <li>Reynald BLACHON (batterie)</li>
        </ul>
      </p>
    </div>
  </div>

  <div class="row text-center">
    <h1>Contact</h1>
    <h3><a href="mailto:arcaide@hotmail.fr">arcaide@hotmail.fr</a></h3>
    <h3><a href="mailto:toxicazsid@gmail.com">toxicazsid@gmail.com</a></h3>
  </div>

</div>
