<div class="container-fluid">

  <p>&nbsp;</p>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div>
        <div class="text-center">
          <h2>Toxic Azsid</h2>
          <img src="images/audio/groupes/Toxicazsid/logo-toxicazsid.png" style="width: 200px; height: 200px;"/>
        </div>
        <p>&nbsp;</p>

        <div ng-controller="ToxicAzSidCtrl">
          <jplayer tracks="tracks"></jplayer>
        </div>

        <p>&nbsp;</p>

        <p>
          Lionel Pinter fait ses premiers pas dans la musique au milieu des années
          90 comme batteur. Il évolue quelques années au sein de groupes locaux
          "métal et industriel".
        </p>

        <p>
          C'est en 1996 qu'il s'intéresse de plus près au machines, et commence à
          bidouiller avec son compère Benjamin Cecilio alias Arcaïde.
          Un nouveau chemin musical d'apprentissage et d'expérimentation commence
          à se tracer aux gré de nouvelles rencontres.
        </p>

        <p>
          1999, Lionel démarre un nouveau chantier cette fois en solo et pose
          les bases de ce que sera "H-Synyk" avec ses premières créations de
          musiques électroniques personnelles influencées par Aphex Twin,
          Autechre, Squarepusher, Blacklung...
          Rapidement, il se met à la scène, et aborde techno, hard core,
          drum&amp;bass et IDM en live, munit d'un échantillonneur et d'un
          vieux mac.
        </p>

        <p>
          Son premier "maxi" cd 6 titres sort en 2003 à 250 exemplaires,
          autoproduit chez le label d'agitation musicale Taenia-Solium
          qui le met également en téléchargement libre sur leur
          site (<a href="http://taenia-solium.net">http://taenia-solium.net</a>).
        </p>

        <p>
          Après quelques concerts en région Rhône-alpes, Lionel se remet
          au travail et sort en 2007 son premier album, "Virus Sélectif"
          toujours pour le label Taenia-Solium, tiré à 800 exemplaires et
          contenant 16 titres dans une pochette carton sérigraphié à la main,
          le tout à prix libre.<br/>
          Parallèlement, Lionel travaille en studio sur divers projets
          d'autres artistes, il aborde le mixage audio et aussi la
          sonorisation de concert où il se met au service de plusieurs artistes
          ou groupes en tous genre (Gravity Falls, Henry Destroy, Les Deux
          Oncles, Le Bal Des Nigauds...) Il compose notamment plusieurs
          titres en 2010 pour Gogol Premier dont un (l'inspecteur justice)
          qui figure sur le dernier album du maître, "Kabaret Punk".
        </p>

        <p>
          En 2011, Lionel entreprend un nouveau projet solo de musique digitale
          sous le pseudonyme "Toxic.az.sid" emmenant un peu plus loin ses
          expérimentations sonores entamées avec "H-Synyk" quelques années
          auparavant.<br/>
          <strong>A RELIRE</strong> In, son prochain album "Mescaline" ne
          laisse pas indifférent et compile 11 nouveaux titres à mi chemin entre
          IDM et musique expérimentale.
        </p>

        <p>
          « Ce nouvel album "Mescaline" est un voyage à travers l' électro-industriel
          mêlant subtilement des influences trip hop/Glitch/IDM.<br/>
          Toxic.az.sid propose dans cet opus, une musique froide et digitale,
          tout en gardant dans l'arrangement un côté vivant et une évolution
          organique, situé au carrefour des sonorités Anglo-saxonnes et Germaniques.
          Les images se bousculent dans la tête de l'auditeur, tantôt bercé,
          tantôt secoué dans les méandres d'une friche industrielle sombre dont
          seul l'auteur connaît l'issue.<br/>
          C' est une exploration sonore entre l'univers et l'atome, l'infiniment
          grand (profondeur des nappes utilisées) et l'infiniment petit
          (rythmiques conjuguées avec de multiples bruits très courts).<br/>
          Des sons et textures soignés joignant autant le hasard que la
          précision donnent au final un résultat surprenant de musicalité.<br/>
          On retrouve des influences allant de Blacklung à Ryoji Ikeda
          en passant par Frank Bretschneider, Oval, Prefuse 73, Pan Sonic
          ou encore Autechre et même Björk. »
        </p>
      </div>
    </div>
  </div>

</div>
