<p>&nbsp;</p>

<div class="row">
  <div class="col-md-4 col-md-offset-1">
    <a href="http://arcaide.fr">
      <img src="images/audio/groupes/Arcaide/arcaide-title.png" alt="Arcaide" />
      <p>&nbsp;</p>
      <img src="images/audio/groupes/Arcaide/logo-arcaide.jpg"
           style="width: 200px; height: 200px;"/>
    </a>
    <p>&nbsp;</p>
    <p>&nbsp;</p>

    <div ng-controller="ArcaideCtrl">
      <jplayer tracks="tracks"></jplayer>
    </div>
  </div>


  <div class="col-md-5">

    <p>&nbsp;</p>
    <iframe src="//player.vimeo.com/video/116769171" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <p>
      <a href="http://vimeo.com/116769171">Arcaïde - NOVA</a>
      from <a href="http://vimeo.com/user36386931">Arcaide</a> on <a href="https://vimeo.com">Vimeo</a>.
    </p>

    <p>&nbsp;</p>
    <p>&nbsp;</p>

    <iframe width="600" height="450" src="//www.youtube.com/embed/xIUjnkPkBVA" frameborder="0" allowfullscreen>
    </iframe>
  </div>
</div>


<p>&nbsp;</p>

<div class="row">
  <div class="col-md-2 col-md-offset-1">
    <img src="images/audio/groupes/Arcaide/lc.jpg" width="160px"/>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-8">
    <p>
      En 2014, comme le phénix renaissant de ses cendres, Arcaïde est de
      retour avec une production audio et visuelle en préparation de plus de 4
      heures.
    </p>
    <p>
      Ici nous vous présentons une première démo avec clip de son futur album.
    </p>
    <p>&nbsp;</p>
    <p>
      En parallèle il participe à la création du collectif Krearts et de trois
      formation à tendence industriel
      (<a href="#/artists/razor-head">Razor Head</a>,
      <a href="#/artists/difoss">Dïfoss</a> et
      <a href="#/artists/jet-set-willy">Jet Set Willy</a>)
      comme compositeur, chanteur et multi instrumentiste.
    </p>
  </div>
</div>

<p>&nbsp;</p>

<div class="row">
  <div class="col-md-2 col-md-offset-1">
    <img src="images/audio/groupes/Arcaide/album-2.png" width="160px"/>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-8">
    <p>&nbsp;</p>
    <p>
      En 2008, sortie de l’album Cyclic Sound From the Form sur le label
      culte industriel français Divine Comedy Records.
      <a href="http://divineco.records.free.fr/">http://divineco.records.free.fr/</a>
    </p>
  </div>
</div>

<p>&nbsp;</p>

<div class="row">
  <div class="col-md-2 col-md-offset-1">
    <img src="images/audio/groupes/Arcaide/album-3.png" width="160px"/>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-8">
    <p>&nbsp;</p>
    <p>
      En 2006,
      <a href="http://www.jamendo.com/fr/list/a11149/opus-mort">
        Opus Mort
      </a> voit le jour : de plus en plus cinématographique, ce
      troisième album est l’aboutissement d’une longue expérimentation
      vers une musique tournée résolument vers des ambiances sonores
      étranges, surréalistes voire cauchemardesques qui sont le reflet
      de la personnalité trouble et torturée du compositeur.
    </p>
  </div>
</div>

<p>&nbsp;</p>

<div class="row">
  <div class="col-md-2 col-md-offset-1">
    <img src="images/audio/groupes/Arcaide/album-4.png" width="160px"/>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-8">
    <p>&nbsp;</p>
    <p>
      En 2003 il termine le deuxième album d’Arcaïde intitulé «
      <a href="http://www.jamendo.com/fr/list/a12013/probably-problematic">
        Probably Problematic
      </a>
      » comprenant 15 titres d’inspiration toujours
      électro-industriel mais cette fois plus expérimental conservant
      toutefois les couleurs abyssales et les harmonies pesantes qui
      font la particularité d’Arcaïde.
    </p>
  </div>
</div>

<p>&nbsp;</p>

<div class="row">
  <div class="col-md-2 col-md-offset-1">
    <img src="images/audio/groupes/Arcaide/album-1.png" width="160px"/>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-8">
    <p>
      Dans le même temps, il constitue le collectif Zero corp regroupant une
      dizaine de formations à tendance industrielle dont Synocaïde, projet
      crossover parallèle à Arcaïde.
    </p>
    <p>&nbsp;</p>
    <p>
      En 2001 sortie du premier album « Chaos of Sigma ». Sur le label
      colddrone distibuer par adipocere
    </p>
  </div>
</div>

<p>&nbsp;</p>
<p>&nbsp;</p>

<div class="row" ng-controller="carouselController">
  <div class="col-md-12">
  <carousel interval="10000">
    <slide ng-repeat="slide in slideImages">
      <img ng-src="{{slide}}" class="krearts-carousel">
    </slide>
  </carousel>
</div>


<p>&nbsp;</p>

<div class="row text-center">
  <h1>Site officiel</h1>
  <h3><a href="http://arcaide.fr">http://arcaide.fr</a></h3>
</div>