<div class="container">
  <p>&nbsp;</p>

  <h2>Daffos</h2>

  <hr/>
  <p>Groupe de machin truc qui fait du bruit. Du bling, du blong.</p>

  <h3>Historique</h3>
  <p>Historique bref du groupe</p>
  <h3>Actualité</h3>
  <p>Quelques dates à venir, des prochains morceaux à balancer, les CD disponibles depuis quand, ...</p>

  <hr/>

  <p>
    <button class="btn btn-danger"  ng-class="{disabled: !currentTrack}"
        ng-click="playPause()">
      <div ng-switch on="isPlaying">
        <div ng-switch-when="true">
          <span class="glyphicon glyphicon-pause"></span>
        </div>
        <div ng-switch-default>
          <span class="glyphicon glyphicon-play"></span>
        </div>
      </div>
    </button>
    ({{player.position}} / {{player.duration}})
  </p>
  <table class="table table-hover">
    <thead><tr><td>Track name</td></tr></thead>
    <tbody>
      <tr ng-repeat='track in playlist'>
        <td ng-class="{active: track == currentTrack}" ng-click="selectTrack(track)">
          Name : {{track.title}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
