<div class="container">

  <p>&nbsp;</p>
  <div class="row">
    <div class="col-md-8 col-md-offset-1">
      <div class="text-center">
        <h2>Razor Head</h2>
        <img src="http://krearts.fr/audio/groupes/RazorHead/logo-razor-head.png" height="200"/>
      </div>

     <p>&nbsp;</p>

      <div class="text-center">
        <object width="470" height="87" data="http://krearts.fr/audio/player-audio/mediaplayer.swf" type="application/x-shockwave-flash">
          <param name="quality" value="high" />
          <param name="bgcolor" value="#000000" />
          <param name="allowFullScreen" value="false" />
          <param name="swLiveConnect" value="false" />
          <param name="allowScriptAccess" value="sameDomain" />
          <param name="FlashVars"
             value="file=http://krearts.fr/audio/groupes/RazorHead/playlist.xml&amp;width=470&amp;height=260&amp;displaywidth=470&amp;displayheight=0&amp;overstretch=false&amp;autostart=false&amp;showicons=false&amp;showfsbutton=false&amp;fullscreenmode=false&amp;thumbsinplaylist=false&amp;linktarget=_blank&amp;linkfromdisplay=true&amp;shuffle=false&amp;showeq=false" />
          <param name="src" value="http://krearts.fr/audio/player-audio/mediaplayer.swf" />
        </object>
      </div>

      <p>&nbsp;</p>

      <p>Style : Death Metal Industrielle</p> 

      <p>Description : Industrial music for industrial people</p>

      <p>Membres :
        <ul>
          <li>Lionel PINTER (chant, électronique, Mix et Mastering)</li>
          <li>Benjamin CECILIO (chant, multi instrumentaliste, électronique)</li>
          <li>Julien Brossier (guitare)</li>
          <li>Arnaud Grimmer (guitare)</li>
          <li>Régis Mathon (basse)</li>
          <li>Hervé Laurans (batterie)</li>
        </ul>
      </p>
    </div>
  </div>


</div>
