<div class="container-fluid">

  <p>&nbsp;</p>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="text-center">
        <h2>Dïfoss</h2>
        <img src="images/audio/groupes/Difoss/logo-difoss.png" height="200"/>


        <p>&nbsp;</p>

        <div ng-controller="DifossCtrl">
          <jplayer tracks="tracks"></jplayer>
        </div>


        <p>&nbsp;</p>

        <p>Style : Electro Metal Industriel</p>

        <p>Description : Industrial music for industrial people</p>

        <p>Membres :
          <ul>
            <li>Benjamin CECILIO (chant, multi instrumentiste, électronique)</li>
            <li>Lionel PINTER (chant, électronique, Mix et Mastering)</li>
          </ul>
        </p>

      </div>
    </div>
  </div>
</div>
