<div class="container">

  <p>&nbsp;</p>
  <div class="row">
    <div class="col-md-8 col-md-offset-1">
      <div class="text-center">
        <p>
          <img src="images/audio/groupes/jet-set-willy/text-jet-set-willy.png" />
        </p>
        <p>&nbsp;</p>
        <p>
          <img src="images/audio/groupes/jet-set-willy/logo-jet-set-willy.png" height="200"/>
        </p>
      </div>

     <p>&nbsp;</p>

      <div ng-controller="JetSetWillyCtrl">
        <jplayer tracks="tracks"></jplayer>
      </div>

      <p>&nbsp;</p>

      <p>Style : Cold wave</p> 

      <p>Description : Industrial music for industrial people</p>

      <p>Membres :
        <ul>
          <li>Benjamin CECILIO (chant, multi instrumentiste, électronique)</li>
          <li>Jean François CECILIO (guitare)</li>
          <li>Bruce ALIBERT (guitare)</li>
          <li>Julien BROSSIER (guitare)</li>
          <li>Stéphanie CECILIO (paroles)</li>
          <li>Mixage : Benjamin CECILIO, Lionel PINTER</li>
          <li>Mastering : Lionel PINTER</li>
        </ul>
      </p>
      <p>Membres Live :
        <ul>
          <li>Benjamin CECILIO (chant, multi instrumentiste)</li>
          <li>Lionel PINTER (électronique)</li>
          <li>Bruce ALIBERT (guitare)</li>
          <li>Julien BROSSIER (guitare)</li>
        </ul>
      </p>
    </div>
  </div>

</div>
