<div id="app-navbar" ng-include="'views/subviews/header.html'"></div>

<div class="container">
  <div class="jumbotron">
    <h1>Contact</h1>
    <p class="lead">Main contact page</p>

    <button class="btn btn-default" ng-click="open()">Click to open a login modal!</button>
    <div ng-show="selected">Selection from a modal: {{ selected }}</div>

  </div>
</div>




<!-- MGE AUTH from http://danielstudds.com/basic-angular-front-end-for-authentication-spa-part-3/ -->
<login-toolbar></login-toolbar>
<login></login>
<signup></signup>
<h2 ng-show="!security.isAuthenticated()">Welcome. Please log in.</h2>
<h2 ng-show="security.isAuthenticated()">Hello {{security.currentUser.username}}</h2>
<!-- /MGE -->

<div id="app-footer" ng-include="'views/subviews/footer.html'"></div>
