<div class="krearts-news">
  <div class="container">
    <div class="row">

      <h2 class="section-heading">Actualité</h2>
      <p class="lead">26 avril 2014 - Lancement du site krearts.fr</p>
        Le collectif Krearts est fier d'annonce le lancement de son site
        web <a href='//krearts.fr'>krearts.fr</a>. La plupart des artistes
        publieront leurs travaux par ce biais et tous les évènements à
        venir seront publiés sur ce site.
      </p>

      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      


      <hr class="section-heading-spacer">
    </div>
  </div>
  <!-- /.container -->
</div>
