<div class="intro-header">
  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
          <img src="images/krearts-home-logo.png"/>
          <h3>Collectif d'artistes</h3>
          <h4>musique, vidéos, tableaux</h4>
        </div>
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.intro-header -->


<div class="krearts-news">
  <div class="container">
    <div class="row">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Actualité</h2>
        <p class="lead">26 avril 2014 - Lancement du site krearts.fr</p>
          Le collectif Krearts est fier d'annonce le lancement de son site
          web <a href='//krearts.fr'>krearts.fr</a>. La plupart des artistes
          publieront leurs travaux par ce biais et tous les évènements à
          venir seront publiés sur ce site.
        </p>

        <p class="lead">blabla</p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu mauris sit amet libero malesuada congue ac
          sed lorem. Integer tincidunt fermentum fermentum. Nullam mattis augue ac massa porttitor ullamcorper. Ut sed
          rhoncus quam.
          <a target="_blank" href="http://google.fr/">Visit their website</a> to become a member.
        </p>
    </div>
  </div>
  <!-- /.container -->
</div>
