<div class="intro-header">
  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
          <img src="images/krearts-home-logo.png"/>
          <h1>Krearts</h1>
          <h3>Collectif d'artistes</h3>
          <h4>musique, vidéos, tableaux</h4>
          <hr class="intro-divider">
        </div>
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.intro-header -->


<div class="krearts-news">
  <div class="container">
    <div class="row">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Évènements<br>Consultez le calendrier</h2>
        <p class="lead">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu mauris sit amet libero malesuada congue ac
          sed lorem. Integer tincidunt fermentum fermentum. Nullam mattis augue ac massa porttitor ullamcorper. Ut sed
          rhoncus quam.
          <a target="_blank" href="http://google.fr/">Visit their website</a> to become a member.
        </p>
    </div>
  </div>
  <!-- /.container -->
</div>
