<div class="container">
  <h1>Liens vers les partenaires</h1>

  <p>
    <a href="http://divineco.records.free.fr/">
      http://divineco.records.free.fr/
    </a>
  </p>

  <p>
    <a href="http://www.ant-zen.com/">
      http://www.ant-zen.com/
    </a>
  </p>

  <p>
    <a href="http://coldspring.co.uk/">
      http://coldspring.co.uk/
    </a>
  </p>

  <p>
    <a href="http://www.oldeuropacafe.com/">
      http://www.oldeuropacafe.com/
    </a>
  </p>

  <p>
    <a href="http://www.cycliclaw.com/">
      http://www.cycliclaw.com/
    </a>
  </p>

  <p>
    <a href="http://www.m-tronic.com/">
      http://www.m-tronic.com/
    </a>
  </p>

  <p>
    <a href="http://mute.com/">
      http://mute.com/
    </a>
  </p>

  <p>
    <a href="http://www.neuropa.be/site/">
      http://www.neuropa.be/site/
    </a>
  </p>

  <p>
    <a href="http://www.steelwork-maschine.com/">
      http://www.steelwork-maschine.com/
    </a>
  </p>

  <p>
    <a href="http://www.syrphe.com/">
      http://www.syrphe.com/
    </a>
  </p>

  <p>
    <a href="http://www.dronerecords.de/">
      http://www.dronerecords.de/
    </a>
  </p>

  <p>
    <a href="http://anarcocks.com/">
      http://anarcocks.com/
    </a>
  </p>

  <p>
    <a href="http://www.opn.fr/">
      http://www.opn.fr/
    </a>
  </p>

  <p>
    <a href="http://les.sons.paranormaux.free.fr/">
      http://les.sons.paranormaux.free.fr/
    </a>
  </p>

  <p>
    <a href="http://www.tesco-germany.com/">
      http://www.tesco-germany.com/
    </a>
  </p>
</div>
