<div class="container-fluid">
  <h2>LP Audio Design</h2>
  <p>
    LP Audio Design propose aux créateurs de musiques de réaliser le mixage
    et/ou le mastering de leurs oeuvres (morceaux/singles/albums).
  </p>
  <p>
    Spécialisé dans le rock, le métal et l'électro au sens large du terme,
    LP Audio Design est la solution abordable pour faire &laquo;sonner&raquo; votre
    musique!
  </p>

  <h3>Contact</h3>
  <address>
    <strong>LP Audio Design</strong><br/>
    <abbr title="Phone">P :</abbr> 06 81 78 15 30<br/>
    <abbr title="Mail">Mail :</abbr> <a href="mailto:#">lpaudiodesign@gmail.com</a><br/>
  </address>
  <hr/>

  <h2>BCFD Production</h2>
  <p>
    Production sonore, sound design
  </p>

  <address>
      <strong>Benjamin Cecilio</strong><br/>
      <abbr title="Phone">P :</abbr> 06 09 89 59 09<br/>
      <abbr title="Mail">Mail :</abbr> <a href="mailto:#">arcaide@hotmail.fr</a><br/>
      <abbr title="Web">Web :</abbr>
      <a href="http://www.b-cecilio.fr">http://www.b-cecilio.fr</a>
  </p>
</div>
